:root {

  /* Primary Colors */
  --primary-color: #2563EB;
  --primary-dark: #1D4ED8;

  /* Secondary Colors */
  --secondary-color: #16A34A;
  --secondary-dark: #15803D;

  /* Accent Colors */
  --warning-color: #F59E0B;
  --danger-color: #DC2626;
  --info-color: #0EA5E9;

  /* Background Colors */
  --background-color: #F8FAFC;
  --white-color: #FFFFFF;

  /* Text Colors */
  --heading-color: #0F172A;
  --text-color: #475569;
  --light-text: #94A3B8;

  /* Borders */
  --border-color: #E2E8F0;

  /* Shadow */
  --shadow: 0px 10px 30px rgba(0,0,0,.08);

  /* Radius */
  --radius: 12px;

}